.DS_Store
.vite-ssg-dist
.vite-ssg-temp
*.local
dist
dist-ssr
node_modules
.idea/
*.log
 
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
tests/**/coverage/
miniprogram_npm/

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln

.project
unpackage/
.hbuilderx
.hbuilderx/
project.private.config.json

components.d.ts