html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family:
    'SourceHanSerifCN',
    'PingFang SC',
    'Noto Sans SC',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@font-face {
  font-family: 'SourceHanSerifCN';
  font-display: swap;
  src: url('/src/assets/fonts/SourceHanSerifCN-Regular.ttf') format('truetype');
  /* src: url('/src/assets/fonts/HYDunHuangXieJingW.ttf') format('truetype'); */
  font-weight: 400;
  font-style: normal;
}

* {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Standard syntax */
}

html.dark {
  background: #121212;
  color-scheme: dark;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: rgb(13, 148, 136);
  opacity: 0.75;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}

/* 滚动条样式 */
::-webkit-scrollbar {
  width: 6px; /* 垂直滚动条的宽度 */
  height: 12px; /* 水平滚动条的高度 */
}

/* 滚动条轨道 */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* 轨道颜色 */
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  background: #7b69468f; /* 滑块颜色 */
  border-radius: 6px; /* 滑块圆角 */
}

/* 滑块 hover 状态 */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* 滑块 hover 时的颜色 */
}

/* 滚动条样式 */

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
